.explore .filter .field{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1px;
}

.explore .filter_label{
  cursor: pointer
}

.infinite-scroll-container {
  padding: 0 16px;
}




/* 
field
control has-icons-left
input
icon is-small is-left
fas fa-search fa-xs
is-checkradio
filter_label
hero is-medium
hero-body
container has-text-centered
icon
title

subtitle
far fa-times-circle */