.home_container{
    min-height: 100vh;
    color: white;
}

.slick-slider{
    padding: 0 1rem !important;
    position: relative;
}
.slick-prev{
    position: absolute;
    left: 2px;
}
.slick-next{
    position: absolute;
    right: 2px;
}   


.slick-dots li button::before{
    color: white !important;
    font-size: 12px;
    transform: translateY(40px);
}

@media screen and (max-width: 1000px) {
    .slick-prev{
        position: absolute;
        left: 3px;
    }
    .slick-next{
        position: absolute;
        right: 3px;
    }    
}
