.sell_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(214.02deg, #323E4E 6.04%, #671AE4 92.95%);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
}

.sell_button::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(50px);
}
.sell_button:hover{
    transform: translateY(-5px);
}
.sell_button:hover::before{
    background: linear-gradient(135deg, #f403d1, #64b5f6);
}