
SELECT {
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important; 
  appearance: none !important;
  padding-right: 2rem !important;
  border: 1px solid white !important;
}

.collection_cover{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.box_shadow_1{
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}
.box_shadow_2{

}
.box_shadow_3{
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}
.box_shadow_4{
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}
.box_shadow_5{
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

.hover_shadow:hover{
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

.text_shadow_1{
  text-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}


.scale_11, .scale_12, .scale_13, .scale_14, .scale_15{
  transition: all 0.3s ease-in-out;
}
.scale_11:hover{
  transform: scale(1.01);
}
.scale_12:hover{
  transform: scale(1.02);
}
.scale_13:hover{
  transform: scale(1.03);
}
.scale_14:hover{
  transform: scale(1.04);
}
.scale_15:hover{
  transform: scale(1.05);
}
.-translateY_5{
  transition: all 0.3s ease-in-out;
}
.-translateY_5:hover{
  transform: translateY(-5px);
}

.collection_card_anim{
  transition: all 0.3s ease-in-out;
}
.collection_card_anim:hover{
  transform: translateY(-5px);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.text_gray_mask {
  mask: linear-gradient(rgb(255, 255, 255) 45%, transparent);
  webkit-mask: linear-gradient(rgb(255, 255, 255) 45%, transparent);
}


.transition_0-1s{
  transition: all 0.1s ease-in-out;
}

.transition_0-2s{
  transition: all 0.2s ease-in-out;
}

.transition_0-3s{
  transition: all 0.3s ease-in-out;
}


.collection_tab{
  font-weight: 600;
}
.collection_tab:hover{
  color: blue;
}
.collection_tab.active{
  color: blue;
  border-bottom: 1px solid blue;
}